// colors
$bg-color: #0078ba;
$shadow-color: #0362ac;
$logo-color: #fdfdfd;

// mixins
@mixin center {
    display: flex;
    justify-content: center;
}

@mixin pseudo($position: absolute, $content: "") {
    content: $content;
    position: $position;
}

@mixin reset {
    * {
        &,
        &::before,
        &::after {
            box-sizing: border-box;
            display: block;
        }
    }
    z-index: 1;
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include center;
    background: $bg-color;
    overflow: hidden;
}

.logo {
    @include reset;
    .shape-1 {
        margin-top: 15.5vmin;
        margin-left: -9vmin;
        width: 16vmin;
        height: 28.4vmin;
        border-top-left-radius: 20vmin;
        border-bottom-left-radius: 2vmin;
        border-bottom-right-radius: 20vmin;
        background: $logo-color;
        transform: rotate(58deg);
        &:before {
            @include pseudo;
            margin-top: 16.5vmin;
            margin-left: 1vmin;
            width: 11vmin;
            height: 11.9vmin;
            border-top-left-radius: 9.7vmin;
            background: $shadow-color;
        }
        &:after {
            @include pseudo;
            z-index: 3;
            width: 18vmin;
            height: 15vmin;
            border-top-left-radius: 20vmin;
            border-bottom-left-radius: 2vmin;
            border-bottom-right-radius: 20vmin;
            background: $logo-color;
            transform: rotate(-10deg);
        }
    }
    .shape-1-right {
        position: absolute;
        width: 11vmin;
        height: 16.1vmin;
        background: $logo-color;
        left: 7.3vmin;
        top: 26.8vmin;
        border-bottom-right-radius: 2vmin;
        transform: rotate(33deg) skewX(-20deg) skewY(-4deg);
        &:before {
            @include pseudo;
            z-index: 3;
            width: 19vmin;
            height: 11vmin;
            top: -10.5vmin;
            left: -4vmin;
            border-radius: 50%;
            background: $bg-color;
        }
        &:after {
            @include pseudo;
            width: 10vmin;
            height: 14vmin;
            left: 1.4vmin;
            top: 0.5vmin;
            background: $logo-color;
            border-top-right-radius: 1vmin;
            transform: skewX(-4deg) skewY(-10deg);
        }
    }
    .shape-2 {
        position: absolute;
        width: 21.5vmin;
        height: 26vmin;
        left: -16.5vmin;
        top: 37.19vmin;
        background: $logo-color;
        transform: rotate(57deg);
        border-bottom-left-radius: 100px;
        &:before {
            @include pseudo;
            width: 25vmin;
            height: 27.5vmin;
            top: 5.2vmin;
            left: -2vmin;
            border-bottom-left-radius: 8vmin;
            border-top-left-radius: 25vmin;
            border-bottom-right-radius: 2vmin;
            background: $logo-color;
            transform: rotate(-57deg);
        }
    }
    .shape-2-right {
        position: absolute;
        width: 9vmin;
        height: 10.6vmin;
        border-bottom-right-radius: 20vmin;
        margin-top: 12.7vmin;
        background: $logo-color;
        transform: rotate(3deg);
        &:after {
            @include pseudo;
            width: 5.8vmin;
            height: 10vmin;
            margin-top: -1.3vmin;
            margin-left: 4.7vmin;
            background: $logo-color;
            transform: rotate(55deg);
        }
    }
    .shape-3 {
        position: absolute;
        width: 38vmin;
        height: 25vmin;
        margin-top: 2vmin;
        margin-left: 13vmin;
        background: $logo-color;
        border-bottom-right-radius: 40vmin;
        transform: rotate(32deg);
        &:before {
            @include pseudo;
            width: 25vmin;
            height: 30vmin;
            background: $shadow-color;
            margin-top: -14.7vmin;
            margin-left: 10vmin;
            border-bottom-right-radius: 30vmin;
            transform: rotate(35deg);
        }
        &:after {
            @include pseudo;
            width: 10vmin;
            height: 6.8vmin;
            margin-top: -1vmin;
            background: $shadow-color;
        }
    }
    .shape-3-left {
        position: absolute;
        width: 10vmin;
        height: 3vmin;
        background: $logo-color;
        margin-top: 6.8vmin;
        margin-left: 9vmin;
        border-top-left-radius: 1vmin;
        transform: rotate(-34deg);
        &:before {
            @include pseudo;
            width: 6vmin;
            height: 5vmin;
            margin-left: -2.6vmin;
            border-top-left-radius: 4.5vmin;
            background: $logo-color;
        }
        &:after {
            @include pseudo;
            width: 25.5vmin;
            height: 6vmin;
            margin-top: -5.8vmin;
            background: $shadow-color;
            transform: rotate(1deg);
        }
    }
    .shape-4 {
        position: absolute;
        width: 18.5vmin;
        height: 14.3vmin;
        margin-top: -2vmin;
        margin-left: -9vmin;
        background: $shadow-color;
        z-index: 1;
        border-top-left-radius: 7vmin;
        border-bottom-left-radius: 4.6vmin;
        border-bottom-right-radius: 1.4vmin;
        transform: rotate(5deg);
        &:after {
            @include pseudo;
            width: 8vmin;
            height: 12vmin;
            background: $shadow-color;
            margin-top: -4vmin;
            margin-left: 2.5vmin;
            border-top-left-radius: 8vmin;
            transform: rotate(-4deg);
        }
    }
    .shape-4-left {
        position: absolute;
        z-index: 2;
        width: 10.5vmin;
        height: 12vmin;
        margin-top: -5.8vmin;
        margin-left: -8vmin;
        border-top-left-radius: 9vmin;
        background: $shadow-color;
        &:before {
            @include pseudo;
            width: 7.7vmin;
            height: 10vmin;
            z-index: 3;
            margin-top: -1vmin;
            margin-left: 1.4vmin;
            border-top-left-radius: 8vmin;
            background: $shadow-color;
            transform: rotate(7deg);
        }
        &:after {
            @include pseudo;
            width: 10.5vmin;
            height: 6.5vmin;
            background: $shadow-color;
            margin-top: 4.5vmin;
            margin-left: 0.3vmin;
            transform: rotate(30deg);
        }
    }
    .shape-4-right {
        position: absolute;
        z-index: 3;
        width: 4.5vmin;
        height: 5vmin;
        margin-top: -4.6vmin;
        background: $shadow-color;
        transform: rotate(60deg);
    }
    .shadow-1 {
        position: absolute;
        z-index: -1;
        width: 150vmin;
        height: 59.5vmin;
        margin-top: 20vmin;
        margin-left: -26vmin;
        border-bottom-left-radius: 5vmin;
        border-top-left-radius: 15vmin;
        background: $shadow-color;
        transform: rotate(45deg);
    }
    .shadow-2 {
        position: absolute;
        z-index: 1;
        width: 38.5vmin;
        height: 40vmin;
        margin-top: -33vmin;
        margin-left: 32vmin;
        background: $bg-color;
        transform: rotate(45deg);
        &:after {
            @include pseudo;
            width: 11vmin;
            height: 11vmin;
            margin-top: 27vmin;
            margin-left: 31.1vmin;
            background: $bg-color;
            transform: rotate(28deg);
        }
    }
    .shadow-3 {
        position: absolute;
        z-index: 1;
        width: 11vmin;
        height: 11.7vmin;
        margin-top: -11.65vmin;
        margin-left: -23.5vmin;
        background: $bg-color;
        transform: rotate(48deg) skewX(-15deg);
    }
}
